@import url(./global.css);

header {
  padding: 0.5rem 0;
  color: var(--joblink-blue);
  font-size: 1.5rem;
  overflow: hidden;
}

header div {
  /* outline: auto; */
}

.header-desktop-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  width: 40px;
}

.header-profile-thumbnail,
.header-logo-image {
  width: 40px;
  border-radius: 50%;
}

.header-search-input-container {
  border-radius: 0.5rem;
  border: 1px solid var(--joblink-blue);
  padding: 0.5rem 1rem;
  height: 4rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 6fr;
}

.header-search-input-container i {
  padding-right: 0.2rem;
}

.header-profile-container {
  text-align: center;
  width: 40px;
}

.header-menu-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.header-menu-links div {
  width: 10rem;
  height: 4rem;
  padding: 0.2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.header-menu-links div:hover {
  color: var(--joblink-blue-dark);
  border-bottom: 1px solid var(--joblink-blue);
}

/* ! Main */

main {
  background-color: var(--lighter-gray);
}

/* ! Footer */

footer {
  color: var(--joblink-blue);
  background-color: var(--lighter-gray);
}

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-grid-container div {
  display: flex;
  flex-direction: column;
}

.footer-grid-container div a {
  display: inline-block;
  padding: 0.5rem 0;
  transition: 0.2s all ease-in-out;
}

.footer-grid-container div a:hover {
  text-decoration: underline;
  color: var(--joblink-blue-dark);
}

.copyright {
  padding: 0.5rem 0;
}
