@import url(./global.css);

/* ! Header ----------------------------------------------------------------- */

header {
  padding: 0.5rem 0;
  color: var(--joblink-blue);
  font-size: 1.5rem;
  overflow: hidden;
}

header div {
  /* outline: auto; */
}

.header-desktop-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container a {
  width: 90px;
  font-size: 3rem;
  font-weight: 700;
}

.header-profile-thumbnail {
  width: 40px;
  border-radius: 50%;
}

.header-search-input-container {
  border-radius: 0.5rem;
  border: 1px solid var(--joblink-blue);
  padding: 0.5rem 1rem;
  height: 4rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 6fr;
}

.header-search-input-container i {
  padding-right: 0.2rem;
}

.header-profile-container {
  text-align: center;
  width: 40px;
}

.header-menu-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.header-menu-links div {
  width: 10rem;
  height: 4rem;
  padding: 0.2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.header-menu-links div:hover {
  color: var(--joblink-blue-dark);
  border-bottom: 1px solid var(--joblink-blue);
}

/* ! Main ------------------------------------------------------------------- */

main {
  background-color: var(--lighter-gray);
}

.main-grid-container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

/* * Profile Card ----------------------------------------------------------- */

.profile-card-container {
  height: 280px;
  display: grid;
  place-items: start;
  justify-items: center;
  gap: 1rem 0;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  padding: 0 1.5rem;
}

.fa-pen-to-square {
  place-self: end;
  cursor: pointer;
}

.profile-card-image {
  width: 64px;
  border-radius: 50%;
}

.profile-card-user-information {
  text-align: center;
}

.profile-card-user-information p:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.profile-card-user-information p + p {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.profile-card-link-container {
  display: flex;
  gap: 0.4rem;
}

.fa-link {
  cursor: pointer;
}

.profile-card-link-container a {
  font-size: 1.1rem;
}

/* * Posting area ----------------------------------------------------------- */

.posting-area-container {
  display: grid;
  place-items: start center;
  gap: 1rem 0;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.posting-form {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posting-input-container textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: var(--lighter-gray);
  color: var(--black);
  padding: 1rem;
  border-radius: 0.5rem;
}

.input-file input {
  display: none;
}

.input-file {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.posting-box-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-button-container {
  background-color: var(--joblink-blue);
  border-radius: 0.5rem;
  text-align: center;
}

.post-button {
  padding: 0.5rem 3rem;
  color: var(--white);
  background-color: var(--joblink-blue);
  border-radius: 0.5rem;
}

.file-label {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.fa-upload {
  font-size: 2rem;
  color: var(--joblink-blue);
}

.post-button-container:hover {
  background-color: var(--joblink-blue-dark);
}

/* * Post ------------------------------------------------------------------- */

.posting-area-past-posts-container {
  width: 100%;
}

.post-container {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin: 2rem auto;
  gap: 1rem;
}

.post-header-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.post-photo-and-information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-photo-and-information > div > p:first-child {
  font-weight: 600;
}

.post-photo-and-information > div > p:last-child {
  color: var(--medium-gray);
}

.post-header-container img {
  width: 60px;
  border-radius: 50%;
}

.post-header-container div:last-child {
  font-size: 1.2rem;
}

.post-header-container div:last-child i {
  font-size: 1.5rem;
}

.post-options {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--medium-gray);
}

.post-media-container {
  width: 100%;
  padding: 1.5rem 0.5rem;
}

.post-media-container p {
  padding-bottom: 1rem;
}

.post-media-container > * {
  border-radius: 0.5rem;
}

.interactions-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5rem;
}

.fa-heart {
  color: var(--accent-red);
}

.fa-share-nodes {
  color: var(--joblink-blue-dark);
}

/* * People you may know ---------------------------------------------------- */

.people-you-may-know-container {
  display: grid;
  align-content: start;
  gap: 2rem 0;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.people-you-may-know-container p {
  font-weight: 500;
}

.users-container {
  display: grid;
  width: 100%;
  gap: 2rem;
}

.user {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-rows: 3px 10px;
  grid-template-areas:
    "a b c"
    "a d c ";
  width: 100%;
  place-items: center start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 2.1rem;
  gap: 1rem;
  cursor: pointer;
}

.user li {
  list-style: none;
  grid-area: b;
  font-size: 1.1rem;
  font-weight: 500;
}

.user img {
  width: 60px;
  border-radius: 50%;
  grid-area: a;
}

.user li:last-child {
  color: var(--medium-gray);
  font-size: 1rem;
  grid-area: d;
}

.user .fa-circle-plus {
  grid-area: c;
  color: var(--medium-gray);
}

/* ! Footer ----------------------------------------------------------------- */

footer {
  color: var(--joblink-blue);
  background-color: var(--lighter-gray);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

.footer-grid-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-grid-container div a {
  display: inline-block;
  transition: 0.2s all ease-in-out;
  padding-top: 0.5rem;
}

.footer-grid-container div a:hover {
  text-decoration: underline;
  color: var(--joblink-blue-dark);
}

.copyright-container {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
}