@import "./global.css";

.login-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--lighter-gray);
}

.login-image-container {
  background: url(../media/images/joblink-login-image.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100svh;
  position: relative;
}

.login-image-container::after {
  content: "";
  top: 5rem;
  left: 5rem;
  position: absolute;
  background-image: url(../media/images/logo-image.jpeg);
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 1000;
}

.login-image-container::before {
  content: "JobLink";
  top: 5rem;
  left: 12rem;
  position: absolute;
  line-height: 60px;
  color: var(--joblink-blue);
  font-weight: 700;
  font-size: 3rem;
  z-index: 1000;
}

button {
  padding: 1.5rem 6rem;
  font-weight: 500;
  border-radius: 0.4rem;
}

.button-type-one {
  background-color: var(--button-primary);
  border: var(--button-border);
  transition: 0.2s all ease-in-out;
  color: var(--button-primary-text-color);
}

.button-type-one:hover {
  background-color: var(--button-primary-hover);
  border: var(--button-border);
}

.button-type-two {
  background-color: var(--button-secondary);
  transition: 0.2s all ease-in-out;
  color: var(--button-secondary-text-color);
  border: var(--button-border);
}

.button-type-two:hover {
  color: var(--white);
  background-color: var(--joblink-blue-dark);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

.copyright {
  font-size: 1.2rem;
  color: var(--link-color);
}

.login-logo-container {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5rem 0;
}

.login-logo-container img {
  width: 60px;
  border-radius: 50%;
}

.login-logo-container p {
  color: var(--joblink-blue);
  font-weight: 700;
  font-size: 3rem;
  padding-left: 0.5rem;
}

.login-content {
  display: flex;
  align-items: center;
}

.login {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 22px;
  color: var(--joblink-blue);
}

.login-title h1 {
  font-size: 5.6rem;
}

.user-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}

input[type="text"],
input[type="password"] {
  height: 45px;
  width: 400px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: var(--link-hover-color);
}

::placeholder {
  color: var(--joblink-blue);
  font-size: 14px;
  font-weight: 500;
}

.forgot-password {
  font-size: 14px;
  font-weight: 500;
  color: var(--joblink-blue);
}

.invalid-login {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-red);
}

.hidden {
  visibility: hidden;
}

.buttons-container {
  margin-bottom: 50px;
  display: flex;
  gap: 3rem;
}

.info-links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.policies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  gap: 1rem 1rem;
}

.copyright {
  display: flex;
  align-items: flex-end;
}
